<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
		<link rel="stylesheet" href="assets/css/main.min.css" />
    </head>
    <body>
        <header>{{> header}}</header>
        {{> body }}
        <footer>{{> footer}}</footer>
    </body>
</html>